body{
    background-color:#f3f6fd;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-family: 'Roboto Mono', monospace;
}

body::-webkit-scrollbar{
    width: 0;
}

/*******************************************************************************************************************************header*/
#header{
    width: 100%;
    color: #000000;
}

h1{
    display: inline;
    font-weight: 300;
    font-size: 20px;
}

.darkModeBttn{
    background-color: #FFFFFF;
    bottom: 50px;
    right: 50px;
    width: 60px;
    border: 2px solid #000000;
    border-radius: 50%;
    box-shadow: 2px 10px 10px #000000;
    position: fixed;
    z-index: 2;
}

.darkModeBttn:active{
    box-shadow: 2px 2px 5px #000000;
    background-color: #BFBFBF;
}
/*******************************************************************************************************************************header*/


/******************************************************************************************************************************content*/
#content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.card{
    height: 400px;
    width: 250px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    border-radius: 10px;
    margin: 30px;
}

.cardImage{
    width: 90%;
    height: 70%;
    background-position: center;
    background-size: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 3px 3px 5px #000000;
}

.cardContent{
    background-color: #FFFFFF;
    width: 90%;
    height: 20%;
    box-shadow: 3px 3px 5px #000000;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.card:active .cardContent{
    box-shadow: 1px 1px 2px #000000;
}

.card:active .cardImage{
    box-shadow: 1px 1px 2px #000000;
}

h2{
    color: #000000;
    font-weight: 100;
    text-align: center;
}
/******************************************************************************************************************************content*/


/****************************************************************************************************************************box-modal*/
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: #000000;
    background-color: rgba(00, 00, 00, 0.7);
    top: 0;
}

.modalContent{
    height: 75%;
    width: 75%;
    position: relative;
    background-color: #f3f6fd;
    margin: auto;
    padding: 0;
    border: 5px solid;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    overflow: auto;
    animation: fadeIN 0.4s;
    -webkit-animation: fadeIN 0.4s;
}

@keyframes fadeIN{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.modalContent::-webkit-scrollbar{
    width: 0;
}
/****************************************************************************************************************************box-modal*/


/*******************************************************************************************************************************footer*/
#footer{
    width: 100%;
    color: #000000;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.link{
    color: #000000;
    text-decoration: none;
    font-size: 10px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: inherit;
}
/*******************************************************************************************************************************footer*/


h3{
    display: inline;
    font-weight: 300;
    font-size: 15px;
    color: #000000;
}

.hireMe{
    color: #000000;
}

.frame{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}



/*****************************************************************************************************************************About Me*/
.abtNav{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.abtDP{
    background-image: url("ghstdg.png");
    background-position: center;
    background-size: cover;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border: 2px solid #000000;
}

.abtContent{
    width: 90%;
    color: #000000;
    font-size: 15px;
    text-align: center;
}
/*****************************************************************************************************************************About Me*/


/****************************************************************************************************************************Education*/
.eduCard{
    background-color: #61B33B;
    height: 400px;
    width: 250px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 30px;
}

.eduCardImage{
    width: 90%;
    height: 20%;
    background-position: center;
    background-size: cover;
    box-shadow: 2px 2px 4px #000000;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.eduCardContent{
    background-color: #FFFFFF;
    width: 90%;
    height: 70%;
    box-shadow: 2px 2px 4px #000000;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #000000;
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    font-size: 16px;
}

.eduScoreCircle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #61B33B;
    color: #FFFFFF;
    display: flex;
    flex-direction: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    font-size: 16px;
    box-shadow: -1px -1px 2px #000000;
    margin: auto;
}

.eduCard:active .eduCardContent{
    box-shadow: 1px 1px 2px #000000;
}

.eduCard:active .eduCardImage{
    box-shadow: 1px 1px 2px #000000;
}
/****************************************************************************************************************************Education*/


/*****************************************************************************************************************************Projects*/
.proCard{
    background-color: #FF3131;
    height: 400px;
    width: 250px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 30px;
    text-decoration: none;
}

.proCardImage{
    width: 90%;
    height: 20%;
    background-position: center;
    background-size: cover;
    box-shadow: 2px 2px 4px #000000;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.proCardContent{
    background-color: #FFFFFF;
    width: 90%;
    height: 70%;
    box-shadow: 2px 2px 4px #000000;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    color: black;
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.proCard:active .proCardContent{
    box-shadow: 1px 1px 2px #000000;
}

.proCard:active .proCardImage{
    box-shadow: 1px 1px 2px #000000;
}
/*****************************************************************************************************************************Projects*/


/****************************************************************************************************************************Interests*/
.intCard{
    background-color: #4B0082;
    height: 400px;
    width: 250px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 2px solid #4B0082;
    border-radius: 5px;
    margin: 30px;
}


.intCardImage{
    width: 90%;
    height: 70%;
    background-position: center;
    background-size: cover;
    box-shadow: 2px 2px 4px #000000;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.intCardContent{
    background-color: #FFFFFF;
    width: 90%;
    height: 20%;
    box-shadow: 2px 2px 4px #000000;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #000000;
    font-size: 20px;
    text-align: center;
}

.intCard:active .intCardContent{
    box-shadow: 1px 1px 2px #000000;
}

.intCard:active .intCardImage{
    box-shadow: 1px 1px 2px #000000;
}
/****************************************************************************************************************************Interests*/


/*****************************************************************************************************************************Profiles*/

.profBox{
    background-color:#FFFFFF;
    height: 200px;
    width: 125px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 4px #000000;
    border-radius: 5px;
    color: black;
    font-size: 15px;
    text-align: center;
    margin: 20px;
    text-decoration: none;
}

.profBox:active{
    background-color: #BFBFBF;
    box-shadow: 1px 1px 2px #000000;
}
/*****************************************************************************************************************************Profiles*/